body {
    padding: 15px;
}

.index_links {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.name_title {
    color: red;
}

